---
layout: internal
section: components
menus:
- text: Form
  img: "forms_icon.png"
  data:
    - text: Input
      url: ""
      submenus:
      - text: Standard
        url: components/input/standard
      - text: Special
        url: components/input/special
    - text: Buttons
      url: components/buttons/standard
    - text: Group of buttons
      url: components/group_of_buttons/standard
    - text: Dropdown
      url: components/dropdown/standard
    - text: Searchbox
      url: components/searchbox/standard
    - text: Radio
      url: components/radio/standard
    - text: Checkbox
      url: components/checkbox/standard
- text: Data
  img: "datas_icon.png"
  data:
    - text: Table
      url: "components/table/standard"
    - text: Accordion
      url: "components/accordion/standard"
- text: Dialogs
  img: "dialogs_icon.png"
  data:
    - text: Modal window
      url: "components/modal_window/standard"
    - text: Login form
      url: components/login/standard
    - text: Register form
      url: components/register/standard
    - text: Contact us form
      url: components/contact_us/standard
    - text: Payment form
      url: components/payment_form/standard
    - text: Captcha
      url: components/captcha/standard
    - text: Datepicker
      url: components/datepicker/standard
---

{{content}}
