---
layout: components
title: Input
linkGithub: "components/input"
linkPlunker: "http://plnkr.co/edit/BpbojgZaGXa4QqbTvCpC?p=preview"

currentMenuSection: "Form"
currentMenu: "Input"
currentSubmenu: "Standard"
text: "An input field allows users to enter information"
---
<div class="content-spacer">
    <div class="visualization-container">

        <div ng-controller="ShowController as graphicController" ng-init="graphicController.init('states')">
            <ul class="nav-tab">
                <li ng-click="graphicController.switchTo('states')" ng-class="{'selected': graphicController.isSelected('states')}">STATES</li>
                <li class="sep"></li>
                <li ng-click="graphicController.switchTo('sizes')" ng-class="{'selected': graphicController.isSelected('sizes')}">SIZES</li>
            </ul>

            <div class="states-tab tab" ng-show="graphicController.isSelected('states')">
                <div class="tab-separator"></div>
                <div class="inner-tab">
                    <div class="inner-tab-content">
                        <div class="state clear">
                            <p class="title">Normal</p>
                            <div>
                                <img class="normal" src="{{ page.baseUrl }}img/{{ page.brand_folder | downcase }}/{{ page.title | downcase }}/states/{{ page.currentSubmenu| downcase}}_state_normal.png"/>
                                <p class="description">An enabled input field is ready to <span>gather user information</span></p>
                            </div>
                        </div>
                        <br>

                        <div class="state clear">
                            <p class="title">Focused</p>
                            <div>
                                <img class="normal" src="{{ page.baseUrl }}img/{{ page.brand_folder | downcase }}/{{ page.title | downcase }}/states/{{ page.currentSubmenu| downcase}}_state_focused.png"/>
                                <p class="description">An input field can <span>highlight when user is interacting</span> with it</p>
                            </div>
                        </div>
                        <br>

                        <div class="state clear">
                            <p class="title">Error</p>
                            <div>
                                <img class="normal" src="{{ page.baseUrl }}img/{{ page.brand_folder | downcase }}/{{ page.title | downcase }}/states/{{ page.currentSubmenu| downcase}}_state_error.png"/>
                                <p class="description">An input field can present an <span>error description</span> when entered data is not correct</p>
                            </div>
                        </div>
                        <br>


                        <div class="state clear">
                            <p class="title">Success</p>
                            <div>
                                <img class="normal" src="{{ page.baseUrl }}img/{{ page.brand_folder | downcase }}/{{ page.title | downcase }}/states/{{ page.currentSubmenu| downcase}}_state_success.png"/>
                                <p class="description">An input field can present a <span>positive text</span> when all validations are passed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sizes-tab tab" ng-show="graphicController.isSelected('sizes')">
                <div class="tab-separator"></div>
                <div class="inner-tab">
                    <div class="inner-tab-content">
                        <div class="size clear">
                            <p class="title">Small</p>
                            <div>
                                <img class="normal" src="{{ page.baseUrl }}img/sizes/{{ page.currentMenu| downcase}}/{{ page.currentSubmenu| downcase}}_size_small.png"/>
                            </div>
                        </div>
                        <br>

                        <div class="size clear">
                            <p class="title">Medium</p>
                            <div>
                                <img class="normal" src="{{ page.baseUrl }}img/sizes/{{ page.currentMenu| downcase}}/{{ page.currentSubmenu| downcase}}_size_medium.png"/>
                            </div>
                        </div>
                        <br>

                        <div class="size clear">
                            <p class="title">Large</p>
                            <div>
                                <img class="normal" src="{{ page.baseUrl }}img/sizes/{{ page.currentMenu| downcase}}/{{ page.currentSubmenu| downcase}}_size_large.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-controller="ShowController as editorController" ng-init="editorController.init('html')" class="editor">
            <div class="plnkr-link">
                <a href="{{page.linkPlunker}}" class="small btt-plunker" target="_blank">
                  Go Plunker
                </a>
            </div>

            <ul class="nav-tab">
                <li ng-click="editorController.switchTo('html')" ng-class="{'selected': editorController.isSelected('html')}">HTML</li>
                <li class="sep"></li>
                <li ng-click="editorController.switchTo('css')" ng-class="{'selected': editorController.isSelected('css')}">CSS</li>
                <li class="sep"></li>
                <li ng-click="editorController.switchTo('source')" ng-class="{'selected': editorController.isSelected('source')}">SOURCE</li>
            </ul>

            <div class="html-tab tab" ng-show="editorController.isSelected('html')">
                <div class="tab-separator"></div>
{% highlight html linenos=table %}
<div class="input-container-medium">
    <input class="{{ page.brand_folder | downcase }} input" type="text"
           placeholder="Placeholder" />
    <div class="{{ page.brand_folder | downcase }} message-container">
        <p class="input-hint">Example of hint text</p>
        <p class="error-message positive">
            Appears when input is dirty and hasn't errors
        </p>
        <p class="error-message negative-required">
            Appears on required error
        </p>
        <p class="error-message negative-info">
            Appears on any error except required error
        </p>
        <p class="error-message negative">
            Appears on any kind of error
        </p>
    </div>
</div>
{% endhighlight %}
            </div>

            <div class="css-tab tab" ng-show="editorController.isSelected('css')">
                <div class="tab-separator"></div>
{% highlight html linenos=table %}
<link href="bb-input.css"
      rel="stylesheet" type="text/css">
<link href="{{ page.brand_folder | downcase }}-input.css"
      rel="stylesheet" type="text/css">
{% endhighlight %}
            </div>

            <div class="doc-tab tab" ng-show="editorController.isSelected('source')">
                <div class="tab-separator"></div>
{% highlight html linenos=table %}
<input ng-model=""
    name="" required=""
    ng-required="" ng-minlength=""
    ng-maxlength="" ng-pattern=""
    ng-change="" ng-trim="" >
</input>
{% endhighlight %}
            </div>
        </div>
    </div>
</div>