---
layout: layouts
title: Basic elements
linkBrandRoom: "http://brandroom.telefonica.com/"

currentMenuSection: "Internal System"
currentMenu: "Basic elements"
currentSubmenu: "Typography"
internalTitle: "Typography"
internalImage: "layouts/basic_typography.png"
---
<div class="content-spacer layouts-internal-content">
    <h2>{{ page.internalTitle }}</h2>
    <div class="internal-image-container spaced">
        <img class="image-container-big" src="{{ page.baseUrl }}img/{{ page.brand_folder | downcase }}/{{ page.internalImage }}" />
    </div>
</div>