---
layout: internal
section: layouts
menus:
- text: Internal System
  img: "data_icon.png"
  data:
    - text: Basic elements
      url: ""
      submenus:
      - text: Colour
        url: layouts/basic/colour
      - text: Typography
        url: layouts/basic/typography
    - text: Website structure
      url: ""
      submenus:
      - text: General structure
        url: layouts/structure/general
      - text: Header
        url: layouts/structure/header
      - text: Grid
        url: layouts/structure/grid
- text: Service Page
  img: "data_icon.png"
  data:
    - text: Introduction
      url: "layouts/service_page/intro"
---
{{ content }}
