---
layout: layouts
title: Service Page
internalTitle: Introduction
linkBrandRoom: "http://brandroom.telefonica.com/"

currentMenuSection: "Service Page"
currentMenu: "Introduction"
currentSubmenu: ""
text: ""
---
<div class="content-spacer layouts-internal-content">
    <h2>{{ page.internalTitle }}</h2>
    <div class="internal-text-container">
        <p>We want to achieve unity across all Telefónica-related websites, from Telefonica.com to any temporary minisites.</p>
        <p>The use of a series of standardised elements on all the sites will bring consistency to the brand. Therefore, elements like the header or footer of every page will be exactly as detailed on these pages.</p>
        <h3 class="space-before">Responsive Web Design</h3>
        <p>Responsive Web Design is technology whose aim is to make web design look perfect across all types of devices, from smartphones to 27" screens, achieving optimum display by resizing and restructuring elements according to the grid in order to take maximum advantage of space.</p>
        <p>With devices like smartphones and tablets used so widely today, we must ensure that our websites look perfect on all of them, hence the need to include this technology, and when designing we must account for all formats.</p>
    </div>
    <div class="internal-image-container">
        <img class="image-container-middle" src="{{ page.baseUrl }}img/{{ page.brand_folder | downcase }}/layouts/service_page_intro.png" />
    </div>
</div>