---
layout: layouts
title: Website structure

currentMenuSection: "Internal System"
currentMenu: "Website structure"
currentSubmenu: "General structure"
internalTitle: "General structure"
---
<div class="content-spacer layouts-internal-content images-aligned">
    <h2>{{ page.internalTitle }}</h2>
    <div class="internal-image-container spaced">
        <img class="image-container-middle" src="{{ page.baseUrl }}img/{{ page.brand_folder | downcase }}/layouts/structure_general.png" />
    </div>
    <div class="internal-image-container">
        <img class="align-image" src="{{ page.baseUrl }}img/{{ page.brand_folder | downcase }}/layouts/structure_general2.png" />
    </div>
</div>