---
layout: resources
title: Icon Collection

currentMenuSection: "downloads"
currentMenu: "Icon collection"
currentSubmenu: ""
linkBrandRoom: "http://brandroom.telefonica.com/"

text: ["An icon is a glyph used to represent something else. Icons can represent common actions a user can take, objets or common ways to adjust page layouts.",
       "We will use branded icons when it is necessary.",
       "Access to Brand Room to download the icon set."
      ]
---
<img class="not-overflow" src="{{ page.baseUrl }}img/{{ page.brand_folder | downcase }}/resources/standard_icons.png"/>
