---
layout: resources
title: PSD's

currentMenuSection: "downloads"
currentMenu: "PSDs"
currentSubmenu: ""

text: ["The resources and UI elements below incorporate Telefónica's branding and design DNA, compatible across all of Telefónica's B2B services. They are a good starting point for UX work on new products or for updating designs; however, simply applying the elements to everything you design does not guarantee successful branding or user experience.",
       "While using these resources, always work to create the optimal UX solution for the specific product you're designing. When in doubt – or if these resources do not seem suited to your particular case – it is better to find a new solution than to blindly apply these elements and end up with suboptimal results.",
       "Remember, also, to always take a holistic approach to brand perception. Using the right elements, fonts, and colors will help with branding, but will not necessarily ensure a cohesive experience. These elements should be used in conjunction with the associated guidelines, and brand perception should be analyzed based on the whole, integrated experience."
      ]
---
<img class="not-overflow" src="{{ page.baseUrl }}img/{{ page.brand_folder | downcase }}/resources/standard_forms.png"/>
